@{
    ViewBag.Title = Library.StringItemDict.BaseDict.WebSysTitle;
    Layout = "~/Views/Shared/_Layout_main.cshtml";
}

<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        
        <!-- /.modal -->
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <!-- BEGIN STYLE CUSTOMIZER -->
        
        <!-- END BEGIN STYLE CUSTOMIZER -->
        <!-- BEGIN PAGE HEADER-->
        
        <!-- END PAGE HEADER-->
        <div class="clearfix">
        </div>
        <!-- BEGIN PAGE CONTAINER-->
        <div class="row">
				<div class="col-md-12">
					<!-- BEGIN SAMPLE TABLE PORTLET--> 
                    <div style="width:100%;text-align:center;vertical-align:middle;">
                    <br />
                    <br />
                    <br />
                    <img src="@Url.Content("~/Content/Images/login_content.png")" /></div> 
					<!-- END SAMPLE TABLE PORTLET-->
				</div>
				
			</div>
        <div class="clearfix">
        </div>
         